.secret-link {
    opacity: 0;
    transition: 0.4s ease;
    height: 0;
    overflow: hidden;
}

/* Show only when hovering empty area below login box */
.login:hover + .secret-link,
.secret-link:hover {
    opacity: 1;
    height: auto;
}
